{% extends 'base.html.twig' %}

{% block body %}
  <div class="message-form-container">
    <h2>Demokrati er...</h2>
    {{ form_start(form) }}
      {{ form_errors(form) }}

      <div class="form-group">
        {{ form_label(form.message) }}
        {{ form_errors(form.message) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Fortæl os din mening', 'rows': 8}}) }}
      </div>

      {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_end(form) }}
  </div>
{% endblock %}
